@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bevan:ital@1&family=Montserrat+Alternates&family=Nunito:wght@300;600&display=swap');
$cursiva:'Alfa Slab One', cursive;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Open+Sans&family=Quicksand:wght@400;500&display=swap');

//font-family: 'Josefin Sans', sans-serif;
//font-family: 'Open Sans', sans-serif;
//font-family: 'Quicksand', sans-serif;


// VARIABLES
$textXxxl:9rem;
$textXl:4rem;
$textLg:3rem;
$textMd:1.5rem;
$textSm:1rem;
