*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    
	
}
main{
	background-color: rgba(221, 148, 58, 0.3);
	

}


/*zolapa telefono*/
.telefono{
	background-color: rgba(28, 28, 28, .9);
	text-align: center;
	span{
		color: #cbe4ea;
	}

}

.redes {
	background-color: rgba(28, 28, 28, .9);;
}










